html, * {
  font-family: 'Gugi', cursive;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 50px;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

main div {
  display: flex;
  flex-direction: row;
  margin: 5vw;
  padding: 5vmin 15vmin;
  border: solid;
}

button {
  color: green;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  padding: 2px 15px;
  /* margin: 0 10px 0 0; */
}