html, * {
  font-family: 'Gugi', cursive;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 150px;
  background-color: #212121;
  color: white;
  height: 100vh;
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: #1e1b1b;
  font-size: 10vmin;
  text-shadow: 1px 1px #DA3E5D, 
               3px 3px #DA3E5D, 
               5px 5px #DA3E5D;
  align-items: center;
  justify-content: center;
  height: 200px;


}

section {
  font-size: 3vmin;
  text-align: center;
  color: #DA3E5D;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px #DA3E5D, 
               2px 2px #DA3E5D, 
               2px 2px #DA3E5D;
  
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  font-size: 3vmin;
  margin: 5vw;
  padding: 4vh 4vw;
  border: solid;
  
  
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1b1b;
  height: 150px;
  
  
 
}

#start {
  background-color: #444040;
  color: white;
  font-size: 3vmin;
  text-decoration: none;
  position: relative;
  padding: .5vmin 3vmin;
  margin-bottom: 1vmin;
  padding: 0;
  border: none;
  background: none;
  text-shadow: 1px 1px #DA3E5D, 
               2px 2px #DA3E5D, 
               2px 2px #DA3E5D;
  
}

#reset {
  background-color: #444040;
  color: white;
  font-size: 3vmin;
  text-decoration: none;
  position: relative;
  padding: .5vmin 2.6vmin;
  padding: 0;
  border: none;
  background: none;
  text-shadow: 1px 1px #DA3E5D, 
               2px 2px #DA3E5D, 
               2px 2px #DA3E5D;

  

}