html, * {
  font-family: 'Gugi', cursive;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 1fr 150px;
  background-color: #212121; 
  color: white;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: #1e1b1b;
  font-size: 10vmin;
  text-shadow: 1px 1px black, 
               3px 3px #00AFF1, 
               5px 5px #00AFF1;
  align-items: center;
  justify-content: center;
  height: 200px;
}

section {
  font-size: 4vmin;
  text-align: center;
  color: black;
  border-top: 8px solid;
  border-bottom: 8px solid;
  height: 250px;
  background-color: #00AFF1;
}

section p {
 padding: 0 2vmin;
} 

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px black, 
               2px 2px #00AFF1, 
               3px 3px #00AFF1;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 4vmin;
  height: 10px;
  margin: 5vw;
  border: none;
}

div:hover {
  font-size: 4.2vmin;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1e1b1b;
  height: 150px;
  padding-bottom: 40px;
}

#start, #reset {
  background-color: #444040;
  color: white;
  font-size: 3vmin;
  text-decoration: none;
  position: relative;
  margin: 2vmin;
  border: none;
  background: none;
  text-shadow: 1px 1px black, 
               2px 2px #00AFF1, 
               2px 2px #00AFF1;
}

#start:hover, #reset:hover {
  font-weight: bold;
  font-size: 4vmin;
}